
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="card-body pt-2 pb-1" >
  
            <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
            <!-- the blue line on top -->
  
            <div class="card-header pb-3 brc-secondary-l3">
                <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                    Coutries Code
                </h5>
            </div>
            <div class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style" *ngFor="let countrycodes of countrycodes">
                <span role="button"  (click)="onClick($event)" id={{countrycodes?.name}} class="text-default-d3 text-90 text-600">{{countrycodes?.name}}</span>
                
                <span class="ml-auto text-dark-l2 text-nowrap">
                  , {{countrycodes?.country_code}}
                </span>
                
              </div>
              <div *ngIf="toDisplay">
                <p>Click the below button to display and hide the data</p>
              </div>
              
          </div>
        
        </div>
    </div>
  </div>
  <div class = "full"  id ="map"> </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"></script>
  



 





